body
{
	background-image: linear-gradient(to right, darkred, purple);
	height: 100%;

}

.footer
{
	width: 100%;
	bottom: 0;
	text-align: center;
	font-size: large;
	font-family: Book Antiqua;
	color: black;
}